@using Microsoft.AspNetCore.Identity
@using EO.Domain.Entities

@inject SignInManager<Usuario> _signInManager
@inject UserManager<Usuario> _userManager

<ul class="navbar-nav">
@if (_signInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-controller="Account" asp-action="Editar" title="Perfil">
            Ola, @_userManager.GetUserName(User)!
        </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="RealizarLogout">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Sair</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-controller="Account" asp-action="Registrar">Registrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-controller="Account" asp-action="Login">Entrar</a>
    </li>
}
</ul>
