@model EO.Application.ViewModels.InputModels.Usuario.CriarFornecedorViewModel

<h5>Fornecedor</h5>
<hr />

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="@Model.Capital"></label>
        <div class="input-group ">
            <div class="input-group-prepend">
                <span class="input-group-text">R$</span>
            </div>
            <input asp-for="@Model.Capital" class="form-control money" />
        </div>
        <span asp-validation-for="@Model.Capital" class="text-danger"></span>
    </div>
</div>