@using EO.UI.Extensions

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo, @User.NomeCompleto()</h1>
</div>

<hr/>

<div class="row">

    <a class="btn btn-primary" asp-controller="SolicitacaoEmprestimo" asp-action="Criar">Criar nova Solicitação</a>
</div>